{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "indent": ["error", 4, {
            "SwitchCase": 1
        }],
        "quotes": ["error", "double"],
        "semi": ["error", "never"],
        "no-multi-spaces": "error",
        "space-before-blocks": ["error", "always"],
        "space-before-function-paren": ["error", {
            "anonymous": "never",
            "named": "never",
            "asyncArrow": "always"
        }],
        "space-in-parens": ["error", "never"],
        "space-infix-ops": "error",
        "array-bracket-spacing": ["error", "never"],
        "arrow-spacing": "error",
        "block-spacing": "error",
        "comma-spacing": "error",
        "computed-property-spacing": ["error", "never"],
        "func-call-spacing": ["error", "never"],
        "key-spacing": "error",
        "keyword-spacing": "error",
        "object-curly-spacing": ["error", "always"],
        "rest-spread-spacing": ["error", "never"],
        "semi-spacing": ["error"],
        "eol-last": ["error", "always"],
        "no-case-declarations": "off"
    }
}
